

<footer>
    <div >
        <div class="copyright-container">
            <span class="copyright"><i class="far fa-copyright"></i></span>
            <a href="#">The Country Api</a>
            <span>All rights reserved.</span>
        </div>
        <div class="important-links">
            <a href="#">Main</a>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">News Blog</a>
        </div>
        <div class="socials">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>

        </div>
        
    </div>
</footer>

<script src="/index.js"></script>
</body>
</html>